<header class="bannerheader">
    Change Password
</header>
<div class="chgpwddiv">
    <div class="container">
        <br><br><br><br><br>
        <div class="col-md-4 col-md-offset-4">
            <form [formGroup]="myForm" (ngSubmit)="confirmpwd()" id="chgpwdform">
                <div class="form-group">
                    <input
                            type="password"
                            id="password"
                            class="form-control"
                            placeholder="Password"
                            formControlName="password">
                </div>
                <div class="bottompart">
                    <h5>{{errMsg}}</h5>
                    <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="!myForm.valid"
                            id="chgpwdbtn">Submit
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


